# Import libraries and data

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('C:/Users/bdtol/flatiron-ds/module2/project_2/Regression-Analysis-House-Sales/csv-files/kc_house_data.csv')

# Data cleaning

## Check column descriptions

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [4]:
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [5]:
for col in df.columns:
    print(col, '\n', df[col].value_counts(normalize=True).head(), '\n\n')

id
 795000620     0.000139
1825069031    0.000093
2019200220    0.000093
7129304540    0.000093
1781500435    0.000093
Name: id, dtype: float64


date
 6/23/2014    0.006575
6/26/2014    0.006066
6/25/2014    0.006066
7/8/2014     0.005880
4/27/2015    0.005834
Name: date, dtype: float64


price
 350000.0    0.007964
450000.0    0.007964
550000.0    0.007362
500000.0    0.007038
425000.0    0.006945
Name: price, dtype: float64


bedrooms
 3    0.454878
4    0.318655
2    0.127796
5    0.074131
6    0.012594
Name: bedrooms, dtype: float64


bathrooms
 2.50    0.248970
1.00    0.178312
1.75    0.141131
2.25    0.094782
2.00    0.089364
Name: bathrooms, dtype: float64


sqft_living
 1300    0.006390
1400    0.006251
1440    0.006158
1660    0.005973
1010    0.005973
Name: sqft_living, dtype: float64


sqft_lot
 5000    0.016576
6000    0.013428
4000    0.011622
7200    0.010187
7500    0.005510
Name: sqft_lot, dtype: float64


floors
 1.0    0.494189
2.0    0.381303
1.5    0.088438
3.0    0.028291
2.5    0.007455
Name: floors, dtype: float64


waterfront
 0.0    0.992404
1.0    0.007596
Name: waterfront, dtype: float64


view
 0.0    0.901923
2.0    0.044441
3.0    0.023591
1.0    0.015325
4.0    0.014721
Name: view, dtype: float64


condition
 3    0.649164
4    0.262861
5    0.078761
2    0.007871
1    0.001343
Name: condition, dtype: float64


grade
 7     0.415521
8     0.280826
9     0.121082
6     0.094365
10    0.052507
Name: grade, dtype: float64


sqft_above
 1300    0.009816
1010    0.009724
1200    0.009538
1220    0.008890
1140    0.008520
Name: sqft_above, dtype: float64


sqft_basement
 0.0      0.593879
?        0.021021
600.0    0.010048
500.0    0.009677
700.0    0.009631
Name: sqft_basement, dtype: float64


yr_built
 2014    0.025883
2006    0.020975
2005    0.020836
2004    0.020049
2003    0.019447
Name: yr_built, dtype: float64


yr_renovated
 0.0       0.958096
2014.0    0.004112
2003.0    0.001746
2013.0    0.001746
2007.0    0.001690
Name: yr_renovated, dtype: float64


zipcode
 98103    0.027874
98038    0.027272
98115    0.026994
98052    0.026578
98117    0.025605
Name: zipcode, dtype: float64


lat
 47.6624    0.000787
47.5491    0.000787
47.5322    0.000787
47.6846    0.000787
47.6711    0.000741
Name: lat, dtype: float64


long
 -122.290    0.005325
-122.300    0.005140
-122.362    0.004815
-122.291    0.004630
-122.372    0.004584
Name: long, dtype: float64


sqft_living15
 1540    0.009122
1440    0.009029
1560    0.008890
1500    0.008334
1460    0.007825
Name: sqft_living15, dtype: float64


sqft_lot15
 5000    0.019771
4000    0.016484
6000    0.013335
7200    0.009724
4800    0.006714
Name: sqft_lot15, dtype: float64

## Deal with missing data

In [6]:
# Drop view column as it wont be necessary for analysis 
df.drop(['view'], axis=1, inplace=True)

In [7]:
# fill missing waterfront values with either 0 or 1 based on probability
df['waterfront'].fillna('?', inplace=True)

wf_prob = [0.0992434, 0.007566]
prob = [i/sum(wf_prob) for i in wf_prob]

def impute_waterfront(value):
    if value == '?':
        return np.random.choice([0.0, 1.0], p = prob)
    else:
        return value
    
df.waterfront = df.waterfront.map(lambda x: impute_waterfront(x))

In [8]:
# Won't be using year renovated for my analyses
df.drop(['yr_renovated'], axis = 1, inplace=True)

In [9]:
# convert date column to datetime catagory
df['date'] = pd.to_datetime(df.date, format='%m/%d/%Y')

In [10]:
# create list of available values for sqft_basement
numbers=[]
for value in df['sqft_basement']:
    if value != '?':
          numbers.append(float(value))

In [11]:
# find median and replace missing values it 
from statistics import median
df['sqft_basement'] = df['sqft_basement'].replace(['?'],median(numbers))

In [12]:
# change values to floats
df['sqft_basement'] = df['sqft_basement'].astype('float')

# Export data

In [13]:
df.set_index('id')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0.0,3,7,1180,0.0,1955,98178,47.5112,-122.257,1340,5650
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0.0,3,7,2170,400.0,1951,98125,47.7210,-122.319,1690,7639
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0.0,3,6,770,0.0,1933,98028,47.7379,-122.233,2720,8062
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0.0,5,7,1050,910.0,1965,98136,47.5208,-122.393,1360,5000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0.0,3,8,1680,0.0,1987,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0.0,3,8,1530,0.0,2009,98103,47.6993,-122.346,1530,1509
6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0.0,3,8,2310,0.0,2014,98146,47.5107,-122.362,1830,7200
1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0.0,3,7,1020,0.0,2009,98144,47.5944,-122.299,1020,2007
291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,1.0,3,8,1600,0.0,2004,98027,47.5345,-122.069,1410,1287
1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0.0,3,7,1020,0.0,2008,98144,47.5941,-122.299,1020,1357

In [16]:
df.to_csv('C:/Users/bdtol/flatiron-ds/module2/project_2/Regression-Analysis-House-Sales/csv-files/kc_house_data_clean.csv')